.animals {
    display: flex;
    flex-flow: row wrap;
}

input[type=checkbox] {
    display: none;

    + label {
        padding: 0.5em;
        margin: 0.25em;
        max-width: 18ch;
        min-width: 8ch;
        text-align: center;
        background: gainsboro;
        display: inline-block;
        border-radius: 0.25em;
    }

    &:checked + label {
        background: green;
        color: white;
    }
}

.animal-list {
    font-size: .9em !important;
    font-weight: 400 !important;

    .ui-multiselect {
        width: 100% !important;
    }

    .ui-table-thead>tr>th {
        font-weight: 400 !important;
    }
    
    .ui-table-tbody>tr>td>span {
        overflow-wrap: break-word;
    }
}


form[autocomplete="off"] input[type="text"] {
    background-position: 150% 50% !important;
}