@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

.animals {
    display: flex;
    flex-flow: row wrap;
}

[ng-reflect-is-selected="true"]{
    background-color: #90ee9080;
}

input[type=checkbox] {
    display: none;

    + label {
        padding: 0.5em;
        margin: 0.25em;
        max-width: 18ch;
        min-width: 8ch;
        text-align: center;
        background: gainsboro;
        display: inline-block;
        border-radius: 0.25em;
    }

    &:checked + label {
        background: green;
        color: white;
    }
}
