/*
.event {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
*/

.event-messages {
    max-width: 30vw;

    .message-container {
        max-height: 30vh;
        overflow-y: auto;
    }

    .event-message {
        flex-flow: column nowrap;
        align-items: flex-start;
    }
}

.applicants {
    .panel-heading {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;

        .filter {
            display: flex;
            flex-flow: column nowrap;
            align-items: flex-end;

            .label {
                font-size: 0.6rem;
            }
        }
    }

    .attendee {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        .time {
            padding-left: 1em;
            font-size: 0.7em;
            font-style: italic;
            text-align: right;
        }
    }

    .empty {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;

        font-size: 0.7em;
        font-style: italic;
    }
}
